<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connstrng" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\5thSem\OOP-IILab\Projects\FnF-Contacts\FnF - Contacts\FnFContacts.mdf;Integrated Security=True;"/>
	</connectionStrings>
</configuration>